.search-bar {
    background-color: aquamarine;

    &__button {
        background-color: red;
        width: 150px;
        height: 50px;
    }

    &__button--active {
        background-color: green;
    }

    

    p {
        color: blue;
    }
}
