@import "./variaveis";

.search-bar {
    background-color: aquamarine;

    &__button {
        background-color: red;
        width: 150px;
        height: 50px;

        &--active {
            background-color: yellow;

            &:hover {
                background-color: $disabled-button;
                transition: 0.3s all;
            }
        }
    }

    &--desabled {
        background-color: $disabled-button;
        color: $light-text;
    }

    p {
        color: $main-text;
    }
}
