$feed-bg: green;
$main-text: gray;
$disabled-button: #8f8b8b;
$light-text: rgb(199, 218, 31);
$shadow: rgba(0, 0, 0, 0.726);

@mixin boxshadow() {
    -webkit-box-shadow: 10px 10px 5px 0px $shadow;
    -moz-box-shadow: 10px 10px 5px 0px $shadow;
    box-shadow: 10px 10px 5px 0px $shadow;
}