.search-bar {
    width: 900px;
    height: 250px;
    background-color: blue;
}

.search-bar__button {
    width: 100px;
    height: 50px;
    background-color: lights lightslategray;
    color: darkgrey;
    box-shadow: 3px gray;
}

.search-bar__button--active {
    background-color: green;
    color: white;
}